#background {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  fill: #000000;
}

.battery-text {
  font-family: SevilleSharp;
  font-size: 15;
  font-weight: bold;
  text-anchor: end;
  text-length: 32;
  x: 92%;
  y: 8%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.clock-text {
  font-family: Colfax-Bold;
  font-size: 100;
  text-anchor: middle;
  text-length: 10;
  x: 50%;
  y: 58%;
  width: 100%;
  height: 100%;
  fill: #FA1E43;
}

.weather-text {
  font-family: SevilleSharp;
  font-size: 32;
  font-weight: bold;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 23%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.date-text {
  font-family: SevilleSharp;
  font-size: 32;
  font-weight: bold;
  text-anchor: middle;
  text-length: 32;
  x: 50%;
  y: 76%;
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
}

.divider {
  x: 50%-130;
  width: 260;
  height: 2;
  fill: #646464;
}

.divider-one {
  y: 10%
}

.divider-two {
  y: 28%
}

.divider-three {
  y: 64%;
}

.divider-four {
  y: 80%;
}

.stats {
  x: 50%-111;
  y: 79%;
  width: 222;
  height: 48;
}

.stats text {
  font-family: SevilleSharp;
  font-size: 32;
  font-weight: bold;
  text-length: 16;
  fill: #FFFFFF;
}

#iconHRM {
  width: 24;
  height: 24;
  y: 15;
  x: 1;
  fill: #FF214A;
}

.stat-left {
  x: 31;
}

.stat-right {
  x: 100%;
  width: 100%;
  text-anchor: end
}

#stats-cycle {
  x: 40%;
  y: 0;
  width: 60%;
  height: 100%;
}

.cycle-item image {
  x: 50%;
  y: 15;
  fill: #FFFFFF;
  width: 24;
  height: 24;
}